:root {
    --border-width: 10px;
}

#cluster {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start; /* или center, или flex-end */
}

.card {
    min-width: 90px;
    min-height: 90px;
    border: var(--border-width) solid green;
    border-radius: 100px;
    display: flex;
    justify-content: center; /* по горизонтали */
    align-items: center;     /* по вертикали */
    text-align: center;
    position: relative;

    &  > div:nth-child(2) {
        position: absolute;
        top: calc( var(--border-width) * -1);
        right: calc( var(--border-width) * -1);
    }
}

.circle {
    border-radius: 100%;
    height: auto;
    aspect-ratio: 1;
}